/*--------------------------------------- Universal Styles -----------------------------------------*/

body {
	background: #ffffff;
	font-family: 'Helvetica', 'Arial', sans-serif;
	font-style: normal;
	font-weight: 400;

}
/*---------------------------------------
    Typography              
-----------------------------------------*/
h1 {
	font-size: 40px;
	letter-spacing: 2px;
	font-weight: 700;
}

h2 {
  font-size: 30px;
	font-weight: 600;
}

h3 {
  line-height: 36px;
}

h5 {
	letter-spacing: 1px;
	padding-top: 10px;
}

p {
	color: #808080;
	font-size: 14px;
	line-height: 24px;
}

a {
  text-decoration: none !important;
  outline: none;
}


/*---------------------------------------
    General               
-----------------------------------------*/
.section-title {
  margin-bottom: 32px;
}

#products, #plsPerks, footer {
  text-align: center;
}

#overview h3, #products h3, #partners h3, #about h3 {
    padding-bottom: 12px;
}

.btn {
	background: transparent;
	border: 2px solid #ffffff;
	border-radius: 0px;
	color: #ffffff;
	font-weight: 600;
	letter-spacing: 1px;
	font-size: 16px;
	-webkit-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	border-radius: 100px;
}

.btn-danger {
	color: #ffffff;
	background: #66ccff;
	border-color: transparent;
}

.btn-danger:hover {
	color: #66ccff;
	background: transparent;
	border-color: #66ccff;
}

.btn-blocked { 
	opacity: 0.6;
	cursor: not-allowed;
}

.demo-navbtn {
	color: #ffffff;
	background: #66ccff;
	border-color: transparent;
}

.demo-navbtn:hover {
	color: #66ccff;
	background: transparent;
	border-color: #66ccff;
}

.login-btn {
	color: #ffffff;
	background: #00de0b;
	border-color: transparent;
}

.login-btn:hover {
	background: transparent;
	border-color: #00de0b;
	color: #00de0b;	
}

#intro .btn, #products .btn, #about .btn,
#pulsHero .btn, #plsPerksTop .btn, #plsPerksBtm .btn {
	padding: 14px 42px;
	margin-top: 42px;
}

.parallax-section {
  background-attachment: fixed !important;
  background-size: cover !important;
}

/* Vertical centering for Bootstrap 3 rows */
.vcenter {
	display: inline-block;
	vertical-align: middle;
	float: none;
}
/*---------------------------------------
    Preloader section              
-----------------------------------------*/
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background: none repeat scroll 0 0 #ffffff;
}

.sk-rotating-plane {
  width: 50px;
  height: 50px;
  background-color: #222;
  -webkit-animation: sk-rotatePlane 1.2s infinite ease-in-out;
          animation: sk-rotatePlane 1.2s infinite ease-in-out; }

@-webkit-keyframes sk-rotatePlane {
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
            transform: perspective(120px) rotateX(0deg) rotateY(0deg); }
  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
            transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }
  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
            transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }

@keyframes sk-rotatePlane {
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
            transform: perspective(120px) rotateX(0deg) rotateY(0deg); }
  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
            transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }
  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
            transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }



/*---------------------------------------
    Navigation Links section              
-----------------------------------------*/
.custom-navbar {
	margin-bottom: 0;
	background-color: #101010;
	max-height: 100%;
}

/* Controls nav styles upon collapse (which is now permanent) */
.custom-navbar.top-nav-collapse {
	background: #101010;
	box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
	padding: 0;
}

.custom-navbar .navbar-brand {
	height: auto;
	width: auto;
	max-height: 70px;
	max-width: 400px;
	line-height: 35px; 
	vertical-align: middle;
}

.custom-navbar .nav li a { 
	color: #66ccff;
}

.custom-navbar .nav li a,
.custom-navbar .nav li button {
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 0.6px;
	text-transform: uppercase;
	line-height: 40px;
	transition: all 0.4s ease-in-out;
}

.custom-navbar .nav li a:hover {
    background: transparent;
    color: #00de0b;
}

.custom-navbar .navbar-nav > li > a:hover,
.custom-navbar .navbar-nav > li > a:focus {
	background-color: transparent;
}

.custom-navbar .nav li.active > a {
	background-color: transparent;
	color: #00de0b;
}

.custom-navbar .navbar-toggle {
	color: #ddd;
	border: none;
	padding-top: 10px;
}

.custom-navbar .navbar-toggle {
	background-color: transparent;
}

.custom-navbar .navbar-toggle .icon-bar {
    background: #ffffff;
    border-color: transparent;
}

@media(min-width:768px) {
    
	.custom-navbar {
		padding: 20px 0;
		border-bottom: 0;
		background: 0 0; 
	}
	
	/* Controls nav styles upon collapse (which is now permanent) 
	Now placed in mobile as well in case I decide to make it not permanent on a page or two*/
	.custom-navbar.top-nav-collapse {
		background: #101010;
		box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
		padding: 0;
	}
	
}

/*---------------------------------------
   Footer section              
-----------------------------------------*/
footer {
	background: #101010;
	background-attachment: fixed;
	padding-top: 5rem;
	padding-bottom: 5rem;
}

/* Back top */
.go-top {
  background-color: #222;
  bottom: 2em;
  right: 2em;
  color: #ffffff;
  font-size: 32px;
  display: none;
  position: fixed;
  text-decoration: none;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  transition: all 0.4s ease-in-out;
}

.go-top:hover {
    background: #66ccff/*#00de0b*/;
    color: #ffffff;
}

/*--------------------------------------- Home Page Styles -----------------------------------------*/ 
/*---------------------------------------
    Home Hero Section              
-----------------------------------------*/
#intro {
    background: url('../images/intro.jpg') 50% 0 repeat-y fixed;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    color: #ffffff;
    display: -webkit-box;
    display: -webkit-flex;
     display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
     -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
    height: 100vh;
    text-align: center;
}

#intro .btn-default {
	margin-right: 12px;
}

#intro .btn-default:hover {
	background: #ffffff;
	color: #333333;
	border-color: transparent;
}

#intro h3 {
  letter-spacing: 2px;
}

/*---------------------------------------
   Overview  section              
-----------------------------------------*/
#overview {
	padding-top: 10rem;
  padding-bottom: 10rem;
}

/*---------------------------------------
    Products Section              
-----------------------------------------*/
#products h5,
#products .section-title {
	color: #ffffff;	
}

#products .btn-danger {
	color: #254a79;
}

#products.btn-danger:hover {
	color: #66ccff;
}

#products {
    background: #254a79;
    color: #66ccff;;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

@media (max-width: 992px) {
  .product {
    margin-bottom: 45px;
  }
}

#icon {
  color: #66ccff;
	font-size: 48px;
}

/*---------------------------------------
   Partners Section              
-----------------------------------------*/
#partners {
	padding-top: 5rem;
	padding-bottom: 5rem;
	color: #111;
}

#partners img {
  margin-top: 18px;
}

#partners h3 {
	margin-bottom: 5rem;
}

#iconPa {
	font-size: 48px;
}

/*---------------------------------------------
		About Partners Section
---------------------------------------------*/
#about {
	background: url('../images/contact-bg.jpg') 50% 0 repeat-y fixed;
	background-size: cover;
	background-position: center center;
	color: #101010;
	padding-top: 5rem;
	padding-bottom: 5rem;
}

#about h1 {
	text-align: center;
}

#about h3 {
	text-align: center;
}

#about .btn-danger {
    background: #101010;
    border-color: transparent;
}

#about .btn-danger:hover {
  background: #66ccff;
  border-color: transparent;
  color: #101010;
}

.ptnrBox {
  border-radius: 5px;
  padding: 60px 30px;
  text-align: center;
	background: rgba(161, 161, 161, 0.42);
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.ptnrBox img {
  z-index: 10;
  position: relative;
  max-width: 100%;
  margin-bottom: 40px;
}

.ptnrBox h4 {
  margin-top: 0px;
  font-size: 22px;
  color: #1e1e1e;
  margin-bottom: 25px;
}

.ptnrBox .btn-danger {
  margin-top: 35px;
  display: inline-block;	
}

/* -------------------------------------- Pulse Page Styles -------------------------------------- */
/*---------------------------------------
    Pulse Hero Section              
-----------------------------------------*/
#pulsHero {
    background: url('../../images/pulsHero.jpg') 50% 0 repeat-y fixed;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    color: #ffffff;
    display: -webkit-box;
    display: -webkit-flex;
     display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
     -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
    height: 100vh;
    text-align: right;
}

#pulsHero {
	color: #ffffff;
}

#pulsHero h2 {
	color: #66ccff
}

/*---------------------------------------
   Pulse Perks Sections              
-----------------------------------------*/
/* ------ Color Options ------
bluestar blue: #82959e
too dark blue: #04378a
saturated fb blue: #004fb5
darker fb blue: #254a79 
less dark fb blue: #2a5489
---------------------------*/

#plsPerksTop,
#plsPerksBtm {
	color: #66ccff;
	background: #254a79;
	text-align: center;
	padding-top: 5rem;
	padding-bottom: 5rem;
}

#plsPerksTop h5,
#plsPerksBtm h5, 
#plsPerksTop .section-title,
#plsPerksBtm .section-title {
	color: #ffffff;	
}

#plsPerksTop .btn-danger,
#plsPerksBtm .btn-danger {
	color: #254a79;
}

#plsPerksTop .btn-danger:hover,
#plsPerksBtm .btn-danger:hover {
	color: #66ccff;
}

.row-break {
	margin-top: 5rem;
}

#iconPrk {
	font-size: 38px;
}

/*---------------------------------------
   Pulse Features Section              
-----------------------------------------*/

#plsFtrs {
	padding-top: 5rem;
  padding-bottom: 5rem;
}

#plsFtrs h1,
#plsFtrs h2 {
	color: #2a5489;
	text-align: center;
}

#plsFtrs h3 {
	color: #101010;
	text-align: center;
	font-weight: 600;
}

#plsFtrs p {
	color: #101010;
	font-size: 16px;
}

#plsFtrs img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-height: 600px;
	max-width: 700px;
}

.zpat-headings hr {
	color: #00aaff;
	border: 3px solid;
	border-radius: 3px;
	width: 20%;
}

.zpat-break hr {
	color: #00aaff;
	border: 1px solid;
	width: 50%;
	margin-bottom: 5rem;
	margin-top: 5rem;
}


/*---------------------------------------------
		Testimonials Section
---------------------------------------------*/
#testimonials {
  /*padding: 100px 0px;*/
  position: relative;
  z-index: 9;
	color: #101010;
	padding-top: 5rem;
  padding-bottom: 5rem;
}

#testimonials h1 {
	color: #2a5489;
	text-align: center;
}

#testimonials hr {
	border: 3px solid #66ccff;
	border-radius: 5px;
	width: 10%;
}

.quoteBox {
  border-radius: 5px;
  padding: 60px 30px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.quoteBox img {
  z-index: 10;
  position: relative;
  max-width: 100%;
}

/* -------------------------------------- About Us Page Styles -------------------------------------- */

#story h1,
#mission h1,
#founders h1 { 
	text-align: center;
}

#story p,
#founders p { 
	font-size: 18px;
	color: #101010;
	line-height: 27px;
	padding-bottom: 10px;
	font-weight: 500;
}

#story hr,
#mission hr,
#founders hr {
	border: 4px solid #101010;
	border-radius: 5px;
	width:20%;
}

.colBlock {
	background: #ffffff;
}

/* --------------------------------------
	Story Section
-------------------------------------- */

.signature {
	max-height: 100px;
	max-width: 400px;
}

#story {
	padding-top: 10rem;
	padding-bottom: 5rem;
}

#story h1 {
	color: #101010;
}

/**** Story Demo ****/
.flexy {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#story2 h1 {
	font-size: 1.75rem;
	margin: 0 0 0.75rem 0;
}

/* Pattern styles */
#story2 .container {
	display: flex;
}

#story2 .left-half {
	flex: 5;
	background: url('../images/teambreak.jpg') 50% 0 repeat-y fixed;
	background-position: center center;'
	padding-top: 20rem;
	padding-bottom: 5rem;
}

#story2 .right-half {
	background-color: #fffffe;
	flex: 7;
}

/* --------------------------------------
	Mission Section
-------------------------------------- */
#mission {
	background: url('../images/hands_in.jpg') 50% 0 repeat-y fixed;
	background-position: center center;
	padding-top: 5rem;
	padding-bottom: 5rem;
}

#mission h1 {
	color: #101010;
}

#mission p {
	color: #101010;
}

#mission h2 {
	color: #101010;
	text-align: center; 
	font-size: 28px;
}

#pull-quote {
	text-align: center;
	color: #101010;
}

#quoteIcon {
	font-size: 25px;
	margin-left: 5px;
	margin-right: 5px;
}

/* --------------------------------------
	Founders Section
-------------------------------------- */
#founders {
	background: #e8e8e8;
	padding-top: 5rem;
	padding-bottom: 5rem;
}

#founders h1 {
	color: #101010;
	text-align: center;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
}

/* Add some padding inside the card container */
.cardBlock {
	background: #ffffff;
	padding: 2px 16px;
}

.social-icon:hover {
	color: #66ccff;
}

/*--------------------------------------- Responsive Styles -----------------------------------------*/

@media (max-width: 980px) {

  p {
		font-size: 13px;
	}
	
	.quoteBox,
	.card,
	.ptnrBox {
		margin-bottom: 45px;
	}
	
  .custom-navbar .navbar-brand {
    font-size: 2rem;
  }

  .custom-navbar .nav li a {
		font-size: 11px;
		line-height: 20px;
  }

  #intro, #pulsHero {
	  height: 65vh; 
	}

  #video iframe {
    margin-top: 42px;
  }

  #contact .contact_detail {
  background: #ffffff;
  padding: 10rem 3rem 10rem 5rem;
}

}

@media (max-width: 768px) {

  .custom-navbar .navbar-brand {
    line-height: 20px;
  }

  #overview img,
  #products .col-md-4 {
    padding-top: 32px;
  }

  .nav-tabs > li > a {
    font-size: 13px;
  }
	
	.about-working-hours {
      border-left: 0;
      padding: 22px 0 0 0;
	}

}

@media (max-width: 760px) {

  #intro, #pulsHero {
    height: 100vh;
  }
	
#plsFtrs img {
	max-height: 800px;
	max-width: 400px;
}

}
