img {
  width: 100%;
}

section {
  background-color: #F4F4FC;
}

		.row {
			padding-top: 2rem;
		}
		
		.lone-btn {
			padding-top: 2rem;
			padding-bottom: 2rem;
		}	
		
		.btn-to, .btn-ss {
			width: 100%;
			border-width: 2px;
			border-radius: 20px;
			padding-top: 0.5rem;
			padding-bottom: 0.5rem;
		}
		
		.btn-to {
			background-color: #1798C1;
			border-color: #1798C1;
			color: #ffffff;
		}
		
		.btn-to:hover {
			background-color: #ffffff;
			color: #1798C1;
		}
		
		.btn-ss {
			background-color: #8CC63E;
			border-color: #8CC63E;
			color: #ffffff;
		}
		
		.btn-ss:hover {
			background-color: #ffffff;
			color: #8CC63E;
		}
