/*--------------------------------------- Universal Styles 
$grid-breakpoints: ( default
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);
@media screen and (min-width:1200px)	{} content width-1140px + 15*2
@media screen and (max-width:1200px)	{} content width-940px 	+ 15*2
@media screen and (max-width:992px)		{} content width-720px	+ 15*2 + 9*2 
@media screen and (max-width:768px) 	{} content width-100% (includes 15*2)
@media screen and (max-width:576px) 	{} 
-----------------------------------------
blue1 #254a79;
blue2 #66ccff;
blue3 #1798C1
grey1 #3A3A3A - dark
grey2 #FAFAFA - pale
green #8CC63E
*****************************************/

/* Get rid of blurry images? */
img {
	image-rendering: -moz-crisp-edges;
	image-rendering: -o-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	-ms-interpolation-mode: nearest-neighbor;
}

/* ------------- */
body {
	background: #ffffff;
	font-family: 'Helvetica', 'Arial', sans-serif;
	font-style: normal;
	font-weight: 400;
}

.white, .white li {
	color: #fff !important;
}

.blue1, .blue1 li {
	color: #254a79 !important;
}

.blue2, .blue2 li, .blue2 a {
	color: #66ccff !important;
}

.blue3, .blue3 li, .blue3 a {
	color: #1798C1 !important;
}

.green, .green li {
	color: #8CC63E !important;
}

.grey1, .grey1 li {
	color: #3A3A3A !important;
}

.white-bg {
	background-color: #fff !important;
}

.blue1-bg {
	background-color: #254a79 !important;
}

.grey2-bg {
	background-color: #FAFAFA !important;
}

.blue2-bg {
	background-color: #66ccff !important;
}

.blue3-bg {
	background-color: #1798C1 !important;
}

@media (min-width: 2200px) {
	p {
		font-size: 20px;
	}
}

@media(min-width: 992px) {
	.hide-comp {
		display: none;
	}
}

@media(min-width: 768px) {
	.hide-nonmobile {
		display: none;
	}
}

@media (max-width: 991px) {
	.hide-tablet {
		display: none;
	}

	.login-btn, .navbar-btn {
		margin-left: 10px !important;
	}
}

@media (max-width: 767px) {
	.hide-mobile {
		display: none;
	}

	#overview img {
		padding-top: 32px;
	}

	footer .btn {
		margin-top: 32px;
	}
}
/*---------------------------------------
Typography              
-----------------------------------------
H1: 48px
H2: 32px
H3: 24px
H4: 24px
H5: 18px
H6: 18px
TH-accent-header
Paragraph: 18px; black
Line height: 1.4
*****************************************/

h1, .h1 {
	font-size: 48px;
	font-weight: 700;
	line-height: 1.4em;
	color: #1798C1;
	margin-top: 20px;
	margin-bottom: 30px;
}

.TH-accent-header {
	font-size: 60px;
	font-weight: 300;
}

h2, .h2 {
	font-size: 32px;
	font-weight: 600;
	color: #1798C1;
	margin-top: 20px;
	margin-bottom: 30px;
}

h3, .h3 {
	font-size: 27px;
	font-weight: 500;
	color: #254a79;
	margin-top: 15px;
	margin-bottom: 20px;
}

h4, .h4 {
	font-size: 24px;
	font-weight: 700;
	color: #1798C1;
	margin-top: 0;
	margin-bottom: 10px;
}

h5, .h5 {
	font-size: 18px;
	letter-spacing: 1px;
	font-weight: 700;
	margin-top: 15px;
	margin-bottom: 20px;
	color: #254a79;
}

h6, .h6 {
	font-size: 18px;
	font-weight: 500;
	margin-top: 15px;
	margin-bottom: 20px;
	color: #254a79;
}

p, ul li {
	color: #101010;
	font-size: 18px;
	line-height: 1.4em;
	margin: 0 0 25px;
}

.small {
	font-size: 14px;
	margin-bottom: 0;
}

.smallest {
	font-size: 10px;
	margin-bottom: 0;
}

.large {
	font-size: 24px;
}

.largest {
	font-size: 32px;
}

.bold {
	font-weight: 500;
}

.boldest {
	font-weight: 700;
}

ul {
	list-style-type: disc;
}

::marker {
	color: #66ccff;
	font-size: larger;
}

a {
	text-decoration: none !important;
	outline: none;
}

::-moz-selection { /* Code for Firefox */
	color: #254a79;
	background: #66ccff;
}

::selection {
	color: #254a79;
	background: #8CC63E;
}

@media (max-width: 500px) {
	h1 {
		font-size: 38px
	}
}

/*---------------------------------------
ELEMENTS              
-----------------------------------------*/

.blue1-card {
	height: 100%;
	width: 100%;
	background-color: #254a79;
	display: table;
	border-radius: 25px;
	padding: 40px;
	border-left: 30px solid #66ccff;
}

@media screen and (max-width: 500px) {
	.blue1-card {
		padding: 10px;
	}
}

.white-card {
	height: 100%;
	width: 100%;
	background-color: #fff;
	display: table;
	border-radius: 25px;
	padding: 40px;
	border-left: 30px solid #66ccff;
}

@media screen and (max-width: 500px) {
	.white-card {
		padding: 10px;
	}
}

/*---------------------------------------
BUTTONS            
-----------------------------------------*/
.btn {
	border: 2px solid #66ccff;
	font-weight: 600;
	line-height: 40px;
	font-size: 16px;
	-webkit-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	border-radius: 100px;
	display: block;
	width: min-content;
	margin: 20px auto;
	text-transform: uppercase;
}

	.btn br {
		display: none;
	}

.btn-main {
	color: #254a79;
	background: #66ccff;
	border-color: #66ccff;
}

	.btn-main:hover, .btn-main:focus {
		color: #66ccff;
		background: #254a79;
		border-color: #66ccff;
	}

.btn-white {
	color: #ffffff;
	border-color: #ffffff;
	background: transparent;
}

	.btn-white:hover,
	.btn-white:focus {
		background: #fff;
		border-color: #fff;
		color: #254a79;
	}

.btn-dark {
	color: #66ccff;
	background: #254a79;
	border-color: #254a79;
}

	.btn-dark:hover,
	.btn-dark:focus {
		background: #66ccff;
		border-color: #254a79;
		color: #254a79;
	}

.btn-blocked {
	opacity: 0.6;
	cursor: not-allowed;
}

.demo-navbtn {
	color: #66ccff;
	background: transparent;
	border-color: #66ccff;
	margin-left: 10px;
}

	.demo-navbtn:hover, .demo-navbtn:focus {
		color: #254a79;
		background: #66ccff;
		border-color: transparent;
	}

.login-btn, .back-btn {
	color: #66ccff;
	background: transparent;
	border-color: #66ccff;
}

	.login-btn:hover, .login-btn:focus, .back-btn:hover, .back-btn:focus {
		background: #66ccff;
		border-color: transparent;
		color: #254a79;
	}

@media(max-width: 411px) {
	.btn {
		line-height: 30px;
		font-size: 15px;
		width: min-content;
	}
}

/* @media(max-width: 390px) {
	.btn {
		border-radius: 0 50px 50px 0;
		padding-left: 5px;
		margin-left:0;
	}
	.btn br {
		display:inline;
	}
} */

/*---------------------------------------
Navigation Links section              
-----------------------------------------*/
.custom-navbar {
	margin-bottom: 0;
	max-height: 72px;
	background: #254a79;
	box-shadow: 0 0 100px rgb(0 0 0 / 10%);
	padding: 0;
}

	.custom-navbar .navbar-brand {
		height: auto;
		width: auto;
		max-height: 70px;
		max-width: 400px;
		line-height: 35px;
		vertical-align: middle;
	}

	.custom-navbar .nav li a {
		color: #fff;
	}

	.custom-navbar .nav li a,
	.custom-navbar .nav li button {
		font-size: 16px;
		font-weight: 700;
		text-transform: uppercase;
		line-height: 40px;
		transition: all 0.4s ease-in-out;
	}

@media (min-height: 991px) {
	.custom-navbar .nav li a {
		line-height: 40px;
		width: 100%;
	}
}

.custom-navbar .nav li a:hover {
	background: transparent;
	color: #66ccff;
}

.custom-navbar .navbar-nav > li > a:hover,
.custom-navbar .navbar-nav > li > a:focus {
	background-color: transparent;
}

#iconNav {
	color: #101010;
	font-size: 20px;
}

.custom-navbar .navbar-toggle {
	border: none;
	padding-top: 20px;
	background-color: transparent;
}

	.custom-navbar .navbar-toggle .icon-bar {
		background: #ffffff;
		border-color: transparent;
	}

.current {
	color: #66ccff;
}

.custom-navbar .navbar-btn {
	margin-top: 8px;
	margin-bottom: 8px;
	line-height: 10px;
	margin-left: 2rem;
}

@media (max-width: 991px) {
	.navbar-header {
		float: none;
	}

	.navbar-toggle {
		display: block;
	}

	.navbar-collapse {
		border-top: 1px solid transparent;
		box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
	}

		.navbar-collapse.collapse {
			display: none !important;
		}

	.navbar-nav {
		float: none !important;
		margin: 7.5px -15px;
	}

		.navbar-nav > li {
			float: none;
		}

			.navbar-nav > li > a {
				padding-top: 10px;
				padding-bottom: 10px;
			}

	.navbar-text {
		float: none;
		margin: 15px 0;
	}
	/* since 3.1.0 */
	.navbar-collapse.collapse.in {
		display: block !important;
	}

	.collapsing {
		overflow: hidden !important;
	}

	.navbar-fixed-bottom .navbar-collapse,
	.navbar-fixed-top .navbar-collapse {
		max-height: none !important;
	}
}

/*---------------------------------------
FOOTER              
-----------------------------------------*/
footer {
	color: #ffffff;
	background: #254a79;
	padding-top: 5em;
	padding-bottom: 1em;
}

.legal-link {
	color: #ffffff;
}

	.legal-link:hover {
		color: #66ccff;
	}

p.copyright {
	text-align: center;
}

@media (min-width:991px) {
	footer.increase-engagement .v-center {
		margin: 6em 0;
	}
}

@media (max-width:991px) {
	footer.increase-engagement {
		text-align: center;
	}

	footer a.btn {
		float: none !important;
	}

	footer.increase-engagement .v-center {
		margin-bottom: 6em;
	}
}

@media (max-width:411px) {
	footer br {
		display: inline;
	}
}
/*---------------------------------------
SECTIONS             
-----------------------------------------*/
section {
	padding-top: 7rem;
	padding-bottom: 7rem;
}

@media (max-width:767px) {
	section.section-1 {
		padding-top: 15px;
		padding-bottom: 30px;
	}
}

.section-title h2 {
	margin-bottom: 50px;
}

.blue-spiral-bg {
	background: #FAFAFA url('../images/bg-swirl-graphic-blue.svg') no-repeat center center / cover;
	background: center center / cover no-repeat #FAFAFA url('../images/bg-swirl-graphic-blue.svg');
}
/* adjustguter width*/
@media (min-width:1200px) {
	.gutters-40-lg {
		margin-right: -40px;
		margin-left: -40px;
	}

		.gutters-40-lg > [class*="col-"] {
			padding-right: 40px;
			padding-left: 40px;
		}

	.gutters-30-lg {
		margin-right: -30px;
		margin-left: -30px;
	}

		.gutters-30-lg > [class*="col-"] {
			padding-right: 30px;
			padding-left: 30px;
		}

	.gutters-20-lg {
		margin-right: -20px;
		margin-left: -20px;
	}

		.gutters-20-lg > [class*="col-"] {
			padding-right: 20px;
			padding-left: 20px;
		}
}

@media (min-width:992px) {
	.gutters-40-md {
		margin-right: -40px;
		margin-left: -40px;
	}

		.gutters-40-md > [class*="col-"] {
			padding-right: 40px;
			padding-left: 40px;
		}

	.gutters-30-md {
		margin-right: -30px;
		margin-left: -30px;
	}

		.gutters-30-md > [class*="col-"] {
			padding-right: 30px;
			padding-left: 30px;
		}

	.gutters-20-md {
		margin-right: -20px;
		margin-left: -20px;
	}

		.gutters-20-md > [class*="col-"] {
			padding-right: 20px;
			padding-left: 20px;
		}
}

/* even height collumns*/
.display-flex-all {
	display: flex;
	height: 100%;
	justify-content: space-between;
}

@media (min-width:992px) {
	.display-flex-lg {
		display: flex;
	}

	.even-height-col {
		height: 100%;
		justify-content: space-between;
	}

		.even-height-col > [class*="col-"] > div {
			height: 100%;
		}
}


/* -- SECTION: 2-col with 3-box image and text -- */
.three-box-image.display-flex-all {
	flex-direction: row;
}

.three-box-image div {
	display: block;
	background-color: #66ccff;
	border-radius: 30px;
	padding: 20px;
	color: #254a79;
}

.three-box-image div {
	height: 100%;
}

.three-box-image .image-1 {
	width: 40%;
	background: #254a79 url('../images/three-box-element-1.png') no-repeat center center / cover;
	background: center center / cover no-repeat #254a79 url('../images/three-box-element-1.png');
}

.three-box-image .image-2 {
	width: 25%;
	background: #254a79 url('../images/three-box-element-2.jpg') no-repeat center center / cover;
	background: center center / cover no-repeat #254a79 url('../images/three-box-element-2.jpg');
}

.three-box-image .image-3 {
	width: 25%;
	background: #254a79 url('../images/three-box-element-3.jpg') no-repeat center center / cover;
	background: center center / cover no-repeat #254a79 url('../images/three-box-element-3.jpg');
}

@media (min-width: 768px) {
	.three-image-container {
		display: flex;
		height: 100%;
		justify-content: space-between;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.three-box-image.display-flex-all {
		flex-direction: column;
	}

	.three-box-image div,
	.three-box-image .image-1 {
		height: 25%;
		width: 100%;
		background-position-y: 96%;
	}

	.three-box-image .image-2 {
		height: 35%;
		width: 100%;
	}

	.three-box-image .image-3 {
		height: 25%;
		width: 100%;
		BACKGROUND-POSITION-Y: 80%;
	}
}

@media (max-width:767px) {
	.three-box-image div {
		height: 300px;
	}
}

@media (max-width:350px) {
	.three-box-image.display-flex-all {
		flex-direction: unset;
		flex-wrap: wrap;
		height: 300px;
		margin: 0;
		background-position-y: 95%;
	}

	.three-box-image .image-1 {
		height: 40%;
		width: 100%;
		margin-bottom: 5%;
	}

	.three-box-image .image-2 {
		height: 55%;
		width: 47%;
	}

	.three-box-image .image-3 {
		height: 55%;
		width: 46%;
		margin-left: 5%;
	}
}

/*---------------------------------------
Preloader section              
-----------------------------------------*/
.preloader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 99999;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	background: none repeat scroll 0 0 #ffffff;
}

/*---------------------------------------
SECTION: Truhu Approach
-----------------------------------------*/
@media (max-width:1199px) {
	#truhu-approach .measure-engage {
		margin-top: 60px;
	}
}

@media (max-width:1199px) and (min-width:992px) {
	#truhu-approach .col-1 {
		margin-top: 80px;
	}
}

@media (max-width:991px) and (min-width:768px) {
	#truhu-approach .col-1 {
		margin-top: 30px;
	}
}

@media (max-width:767px) {
	.th-three-col .col-2 {
		margin: 40px 0 60px;
	}
}

@media (max-width:712px) {
	#truhu-approach .text-left {
		text-align: center;
	}

		#truhu-approach .text-left .pull-left {
			float: none !important;
			margin-top: 40px;
		}
}

/*---------------------------------------
SECTION: Testimonials              
-----------------------------------------*/
.testimonial-box {
	background: #fff;
	border-radius: 30px;
	padding: 60px;
	box-shadow: 0 0 10px 3px rgb(0 0 0 / 16%);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

	.testimonial-box:hover {
		box-shadow: 0 0 5px 3px rgb(0 0 0 / 10%);
	}

@media screen and (min-width: 992px) {
	.testimonial-row {
		display: flex;
	}
}

@media screen and (max-width:991px) {
	.testimonial-row > [class*="col-"] {
		margin-bottom: 40px;
	}
}

@media screen and (max-width:500px) {
	.testimonial-box {
		padding: 40px;
	}
}

/*--------------------------------------- Home Page Styles -----------------------------------------*/
/*---------------------------------------
Home Hero Section              
-----------------------------------------*/
section#hero-banner {
	background: #254a79 url('../images/bg-swirl-graphic-white.svg') no-repeat center bottom / cover;
	background: center bottom / cover no-repeat #254a79 url('../images/bg-swirl-graphic-white.svg');
	height: auto;
	color: #ffffff;
	padding: 40px;
	margin-top: 70px;
}

.divider {
	height: 40px;
}

@media screen and (min-width:992px) {
	#hero-banner {
		color: #ffffff;
		margin-top: 72px;
	}

	.divider {
		height: 350px;
	}
}

@media screen and (max-width:375px) {
	section#hero-banner {
		padding: 0;
	}
}

/* Xander stylings */
.vcenter {
	display: inline-block;
	vertical-align: middle;
	float: none;
}

/* ----------------
 Product 
---------------- */
section#prod-banner {
	background: #254a79 no-repeat center bottom / cover;
	background: center bottom / cover no-repeat #254a79;
	height: auto;
	color: #ffffff;
	padding: 40px;
	margin-top: 70px;
}

.divider {
	height: 40px;
}

@media screen and (min-width:992px) {
	#prod-banner {
		color: #ffffff;
		margin-top: 72px;
	}

	.divider {
		height: 350px;
	}
}

@media screen and (max-width:375px) {
	section#prod-banner {
		padding: 0;
	}
}

#prod-approach {
	padding-bottom: 0;
	background: #ffffff url('../images/bg-swirl-graphic-blue.svg') no-repeat center center / cover;
	background: center center / cover no-repeat #ffffff url('../images/bg-swirl-graphic-blue.svg');
}

.prod-img-row {
	padding-top: 6rem;
}

#prod-approach p {
	font-size: 20px;
}

#prod-approach .TH-accent-header {
	font-size: 48px;
}

#prod-approach .img-prods {
	margin: 2rem 0;
	border-radius: 15px;
	box-shadow: 0 0 10px 3px rgb(0 0 0 / 16%);
	z-index: -1;
}

#prod-approach .img-overlay {
	position: relative;
	bottom: 8rem;
	z-index: 3;
	width: 80%;
	margin: auto;
}

	#prod-approach .img-overlay p {
		margin: 0;
	}

.img-overlay {
	background: #fff;
	border-radius: 15px;
	padding: 15px;
	box-shadow: 0 0 10px 3px rgb(0 0 0 / 16%);
}

	.img-overlay:hover {
		box-shadow: 0 0 5px 3px rgb(0 0 0 / 10%);
	}

@media (max-width: 991px) {
	.img-overlay {
		padding: 20px;
		bottom: 8rem !important;
		z-index: 3;
		width: 90% !important;
		margin: 0;
	}

		.img-overlay p {
			font-size: 16px !important;
		}

	.img-prods {
		margin: 0;
	}
}

@media screen and (max-width:712px) {
	#prod-approach {
		padding-left: 4rem;
		padding-right: 4rem;
	}
}

#prod-pulse h1,
#prod-pr h1 {
	font-size: 42px;
	color: #101010;
	font-weight: 200;
	text-align: center;
}

#prod-pulse h3,
#prod-pr h3 {
	font-weight: 700;
	color: #717171;
}

#prod-pulse {
	background-color: #FAFAFA;
}

.tall-img {
	width: 60%;
	margin: auto;
}

.prod-footer .copyright {
	padding-top: 4rem;
}

/* Not Product */

@media (max-width:991px) {
	.navbar .container {
		background-color: #254a79;
		box-shadow: #101010;
	}

	.navbar-collapse.collapse.in {
		border: none !important;
	}
}

.dropdown-menu {
	background-color: #254a79;
	-webkit-box-shadow: 0 3px 6px rgb(0 0 0 / 8%);
	box-shadow: 0 3px 6px rgb(0 0 0 / 8%);
	padding-top: 20px;
	border-top: none;
}

.dropdown-toggle:focus {
	background-color: #254a79;
}


.dropdown-toggle:active {
	background-color: #254a79;
}

a.dropdown-toggle:not(:focus) {
	background: #254a79;
}

.dropdown-menu li a {
	margin: 0;
	line-height: 10px !important;
}

@media screen and (max-width:991px) {
	.navbar-collapse {
		background-color: #254a79;
		width: 100% !important;
	}
}

#hero-partners h4 {
	padding-top: 5rem;
	color: #101010;
	font-weight: 100 !important;
}

#hero-partners h1 {
	padding-bottom: 250px;
}

@media screen and (min-width: 992px) {
	#hero-partners .divider {
		height: 325px;
	}
}

@media screen and (max-width:991px) {
	#hero-partners h1 {
		padding-bottom: 0;
	}

	#hero-partners p {
		font-size: 26px;
	}
}

#logo-grid .frame {
	width: 450px;
	height: 200px;
	vertical-align: middle;
	text-align: center;
	display: table-cell;
	padding: 30px;
}

img {
	max-width: 100%;
	max-height: 100%;
	display: block;
	margin: 0 auto;
}

#logo-grid h2 {
	text-align: center;
}

#logo-grid .container {
	padding: 0 100px;
}

#logo-grid-mobile {
	text-align: center;
}

@media screen and (max-width:1201px) {
	#logo-grid .frame {
		height: 150px;
		padding: 20px;
	}
}

@media screen and (max-width:640px) {
	#logo-grid {
		display: none;
	}
}

@media screen and (min-width:641px) {
	#logo-grid-mobile {
		display: none;
	}
}

#blue-two-col p,
#blue-two-col h2 {
	color: #fff;
	font-weight: 600;
}

#blue-two-col h2 {
	text-align: center;
}

#blue-two-col {
	background-color: #172B55;
}

	#blue-two-col h3 {
		font-weight: 600;
		color: #5CC1FF;
	}

#logo-grid-mobile img {
	max-width: 60%;
	max-height: 100px;
	padding: 10px;
}

@media screen and (max-width:991px) {
	.blue1-card {
		margin-top: 3rem !important;
	}
}

/* -------------------------------------- About Us Page Styles -------------------------------------- */
#story h1,
#mission h1,
#founders h1 {
	text-align: center;
}

#story p,
#mission p {
	font-size: 20px;
	color: #101010;
	line-height: 27px;
	padding-bottom: 10px;
	font-weight: 500;
}

#story hr,
#mission hr,
#founders hr {
	border: 2px solid;
	color: #101010;
	background-color: #101010;
	border-radius: 3px;
	width: 20%;
}

/* --------------------------------------
	Story Section
-------------------------------------- */
.signature {
	max-height: 100px;
	max-width: 400px;
	text-align: left;
	margin-left: 0;
	margin-right: auto;
}

#story {
	padding-top: 10rem;
	padding-bottom: 5rem;
}

	#story h1 {
		color: #101010;
	}

/* --------------------------------------
	Mission Section
-------------------------------------- */
@media(min-width: 992px) {
	#mission {
		background: url('../images/hands_in.jpg') 50% 0 repeat-y scroll;
		background-position: center center;
		padding-top: 5rem;
		padding-bottom: 5rem;
	}
}

#mission h1 {
	color: #101010;
}

#mission p {
	color: #101010;
}

#mission h2 {
	color: #101010;
	text-align: center;
	font-size: 28px;
}

#pull-quote {
	text-align: center;
	color: #101010;
}

#quoteIcon {
	font-size: 25px;
	margin-left: 5px;
	margin-right: 5px;
}

/* -------------------------------------- News Listing and Article Styles -------------------------------------- */

#newsTiles {
	padding-top: 6rem;
	padding-bottom: 6rem;
	background-color: #F2FAFF;
}

	#newsTiles h1 {
		color: #101010;
	}

	#newsTiles h2 {
		color: #101010;
	}

	#newsTiles .section-title {
		text-align: center;
	}
/* ************

   Video Cards

************* */

#vids {
	margin-top: 2rem;
}

.vid-card {
	margin-top: 5rem;
	margin-bottom: 5rem;
}

	.vid-card img {
		height: 250px;
		width: 100%;
		object-fit: cover;
	}


.vid-card {
	margin-top: 10px;
	position: relative;
	-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	-moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

	.vid-card:hover {
		-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.16);
		-moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.16);
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.16);
	}

	.vid-card .vid-card-content {
		padding: 10px;
		text-align: center;
		background-color: #f1f1f1;
	}

		.vid-card .vid-card-content .vid-card-category {
			color: #337AB7;
			font-size: 16px;
			font-weight: 500;
		}

		.vid-card .vid-card-content .vid-card-title {
			color: #101010;
			font-size: 20px;
			font-weight: 200;
		}

	.vid-card .no-fill-im {
		object-fit: contain;
	}

/*------------------------------- News styles -------------------------------*/
/* Container holding the image and the text */
.imBox {
	position: relative;
}

	.imBox h3 {
		text-align: center;
		color: white;
		text-transform: uppercase;
		margin: 20px;
		font-size: 28px;
		letter-spacing: 1px;
	}

/* Centered text */
.centered {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	background-color: rgba(102, 204, 255, 0.8); /*rgba(37, 74, 121, 0.8);*/
}

.news-body {
	margin-top: 1rem;
}

	.news-body h4 {
		font-weight: 500;
	}

@media (max-width: 991px) {
	.imBox h3 {
		font-size: 22px;
	}
}

@media (max-width: 767px) {
	.imBox h3 {
		font-size: 16px;
	}
}

.contact-links a {
	color: #66ccff !important;
}

/*------------------------------- About Us styles -------------------------------*/
/*---------------------------------------
About Hero Section              
-----------------------------------------*/
section#about-banner {
	background: #254a79 url('../images/bg-swirl-graphic-white.svg') no-repeat center bottom / cover;
	background: center bottom / cover no-repeat #254a79 url('../images/bg-swirl-graphic-white.svg');
	height: auto;
	color: #ffffff;
	padding: 80px 40px;
	margin-top: 70px;
}

@media screen and (min-width:992px) {
	#about-banner {
		color: #ffffff;
		margin-top: 72px;
	}
}

@media screen and (max-width:375px) {
	section#about-banner {
		padding: 0;
	}
}

#meet-the-team h1 {
	font-size: 38px;
	color: #101010;
	text-align: center;
	margin-top: 0;
	margin-bottom: 60px;
	font-size: 48px;
}

#meet-the-team h3 {
	font-size: 22px;
	color: #101010;
	font-weight: 700;
}

.tg-header {
	font-size: 32px;
	padding: 1.5rem 0 1rem 0;
}

	.tg-header a {
		color: #1798C1;
	}

.tg-card {
	margin-bottom: 50px;
	display: table;
	background-color: #F2FAFF;
	box-shadow: 0 0 5px 3px rgb(0 0 0 / 10%);
}

	.tg-card:hover {
		box-shadow: 0 0 10px 3px rgb(0 0 0 / 16%);
	}

	.tg-card p {
		font-size: 20px;
	}


	.tg-card img {
		height: 250px;
		max-width: none;
		width: 250px;
	}

	.tg-card .tg-card-body {
		padding: 15px 20px 10px;
		display: table-cell;
		vertical-align: middle;
	}

/* --------------------------------------
	Founders Section
-------------------------------------- */

#founders {
	background: #fff;
	padding-top: 5rem;
	padding-bottom: 5rem;
}

	#founders h1 {
		color: #101010;
		text-align: center;
	}

.card {
	/* Add shadows to create the "card" effect */
	box-shadow: 0 0 5px 3px rgb(0 0 0 / 10%);
	transition: 0.3s;
}

	/* On mouse-over, add a deeper shadow */
	.card:hover {
		box-shadow: 0 0 10px 3px rgb(0 0 0 / 16%);
	}

/* Add some padding inside the card container */
.cardBlock {
	background: #F2FAFF;
	padding: 16px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

	.cardBlock h3 {
		margin-top: 1rem;
		margin-bottom: 0;
		font-size: 16px;
	}

	.cardBlock p {
		margin: 0;
		font-size: 16px !important;
	}

.quotes-sm .cardBlock {
	height: 170px;
}

.quotes-md .cardBlock {
	height: 190px;
}

.quotes-lg .cardBlock {
	height: 210px;
}

@media (max-width: 640px) {
	.cardBlock h3 {
		font-size: 16px;
	}

	.cardBlock p {
		font-size: 14px !important;
	}
}

@media (max-width: 490px) {

	.cardBlock p {
		font-size: 13px !important;
	}
}

@media (max-width: 440px) {
	.quotes-sm .cardBlock {
		height: 170px;
	}

	.quotes-md .cardBlock {
		height: 190px;
	}

	.quotes-lg .cardBlock {
		height: 210px;
	}

	.cardBlock h3 {
		font-size: 14px;
	}
}

@media (max-width: 390px) {
	.quotes-sm .cardBlock {
		height: 210px;
	}

	.quotes-md .cardBlock {
		height: 220px;
	}

	.quotes-lg .cardBlock {
		height: 240px;
	}

	.cardBlock h3 {
		font-size: 13px;
	}
}

@media (max-width: 368px) {
	.cardBlock h3,
	.cardBlock p {
		font-size: 12px !important;
	}
}


.social-icon:hover {
	color: #66ccff;
}

@media (max-width: 768px) {

	.tg-card h1 {
		font-size: 20px !important;
	}

	.tg-card .tg-card-body {
		display: block;
		text-align: center;
	}

	.tg-card img {
		display: block;
		width: 200px;
		height: 200px;
		max-width: 100% !important;
	}

	.tg-header {
		font-size: 22px;
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
	}

	#founders .row {
		padding-bottom: 3rem;
	}

	#founders h1 {
		font-size: 32px !important;
		margin-top: 0;
		margin-bottom: 4rem;
	}

	#founders h3 {
		font-size: 16px;
		color: #101010;
		font-weight: 600;
	}

	@media screen and (max-width:430px) {
		#founders h3 {
			font-size: 14px;
		}

		#founders p {
			font-size: 12px;
		}
	}

	#founders p {
		font-size: 14px;
	}

	.page-footer .footerDivider {
		display: none;
	}
}

#broker-banner h1 {
	color: #101010;
	font-weight: 600;
	font-size: 48px;
}

#broker-banner p {
	font-size: 20px;
}

section#broker-banner {
	background: #ffffff url('../images/bg-swirl-graphic-blue.svg') no-repeat center center / cover;
	background: center center / cover no-repeat #ffffff url('../images/bg-swirl-graphic-blue.svg');
	height: auto;
	padding: 90px 40px 60px 40px;
	margin-top: 80px;
}

@media screen and (min-width:992px) {
	#broker-banner {
		color: #ffffff;
		margin-top: 72px;
	}
}

#th-checklist {
	padding: 3rem 0;
}

	#th-checklist h5 {
		text-align: center !important;
		font-size: 24px;
	}

	#th-checklist hr {
		border: 1px solid;
		color: #66ccff;
		background-color: #66ccff;
	}

	#th-checklist .fa-li {
		color: #66ccff;
	}

#th-checklist {
	background-color: #f2faff;
}

#broker-help li {
	margin-bottom: 10px;
}

#broker-quotes .testimonial-box {
	padding: 4rem;
}

.broker-footer .copyright {
	padding-top: 6rem;
}

#th-checklist h3 {
	text-align: center;
	padding-bottom: 2rem;
}


#hp-banner h1 {
	color: #101010;
	font-weight: 600;
	font-size: 48px;
}

#hp-banner h2 {
	color: #101010;
	font-size: 28px;
}

section#hp-banner {
	background: #ffffff url('../images/bg-swirl-graphic-blue.svg') no-repeat center center / cover;
	background: center center / cover no-repeat #ffffff url('../images/bg-swirl-graphic-blue.svg');
	height: auto;
	padding: 90px 40px 60px 40px;
	margin-top: 80px;
}

@media screen and (min-width:992px) {
	#hp-banner {
		color: #ffffff;
		margin-top: 72px;
	}
}

.hp-list li {
	font-size: 22px;
}

#hp-amplify {
	background-color: #F2FAFF;
}

@media screen and (max-width:991px) {
	.footer-img {
		padding-bottom: 3rem;
	}
}

@media (max-width: 991px) {
	h1 {
		font-size: 36px !important;
	}
}

#broker-help li,
#broker-help p,
#hp-amplify p {
	font-weight: 200 !important;
}

#meet-the-team h1,
#newsTiles h1 {
	font-weight: 200 !important;
}

#broker-quotes .testimonial-box img {
	height: 75px;
	margin: 0 auto 1rem auto;
}

@media (max-width: 991px) {
	#broker-quotes .testimonial-box img {
		height: 65px;
		margin: 0 auto 1rem auto;
	}

}

#hero-banner p {
	padding-top: 30px;
}

#hero-banner h1 {
	font-size: 48px;
}

#prod-approach {
	margin-top: 70px;
}

@media (max-width: 768px) {
	#hero-banner,
	#hp-banner, 
	#broker-banner {
		padding: 10px !important;
	}

	#hero-banner h1 {
		font-size: 30px !important;
	}

	#hp-banner h1,
	#broker-banner h1 {
		font-size: 36px !important;
	}

	#hero-banner p {
		font-size: 28px;
	}
}